//--------------------------------- Account Nav-------------------------//
.account_nav-list {
    @include media-breakpoint-up(md) {
        display: block !important;
    }
}
//--------------------------------- Account Table-------------------------//

table.account_table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #000;
    tr {
        border-top: 1px solid #ddd;

        @include media-breakpoint-up(md) {
            &:first-child {
                border-top: transparent;
            }
        }

    }

    th,
    td {
        padding: 1rem .75rem;
        font-size: 0.875rem;
        vertical-align: middle;
    }

    thead tr {
        border-top: transparent;
        border-bottom: 1px solid #000;
    }

    th {
        font-size: 1rem;
        border-top: transparent;
    }

    .account_table-product {
        display: flex;

        align-items: center;

        img {
            max-width: 70px;
            height: 70px;
            margin-right: 0.75rem;
            border: 1px solid rgb(222, 226, 230);
            border-radius: 0.35rem;
            padding: 0.35rem;
        }

    }

    .account_table-pname {
        font-weight: bold;
    }

    .account_table-total {
        font-weight: bold;
    }

    @include media-breakpoint-down(md) {
        border: 0;
        thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        tr {
            display: block;
            margin-bottom: 1.5rem;
            background-color: #f8f9fa;
            border: 1px solid #ddd;
            border-radius: 0.25rem;
        }

        td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right !important;

            &::before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
            }

            &:last-child {
                border-bottom: 0;
            }
        }

        .account_table-product {
            display: block;

            img {
                max-width: 50px;
                height: 50px;
                margin-right: 0
            }


        }
        .form-select {
                background-color: white;
        
        }
    }
}

//--------------------------------- Payment Methods-------------------------//


.container-paymethod {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
    
}

@media screen and (min-width: 1216px) {
    .container-paymethod {
        max-width: 1152px;
    }
}

@media screen and (min-width: 1408px) {
    .container-paymethod {
        max-width: 1344px;
    }
}
.account_paymethods-add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: .75rem;

    margin-bottom: 1.5rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 0;
        border-bottom: 1px solid #000;

    }
}

#payment-detail-form {
    .payment-icon {
        display: none;
    }
    .card-header {
        a {
            display: flex;
            align-items:center;
            text-decoration: none;
        }
        h4 {
            margin-left: 1.5rem;
        }
    }
    table {
        border-collapse: collapse;
        margin: 0 0 1.5rem;
        padding: 0;
        width: 100%;
        border-bottom: 1px solid #000;

        tr {
            border-top: 1px solid #ddd;

            @include media-breakpoint-up(md) {
                &:first-child {
                    border-top: transparent;
                }
            }

        }

        th,
        td {
            padding: 1rem .75rem;
            font-size: 0.875rem;
            vertical-align: middle;
        }

        thead tr {
            border-top: transparent;
            border-bottom: 1px solid #000;
        }

        th {
            font-size: 1rem;
            border-top: transparent;
        }
    
    }
    .custom-control {
        display: flex;
    }
    

}

//--------------------------------- Account Support-------------------------//

.account_support-add {
    padding-bottom: .75rem;
    margin-bottom: 1.5rem;
    @include media-breakpoint-up(md) {
        margin-bottom: 0;
        border-bottom: 1px solid #000;

    }
}

