html.has-navbar-fixed-top,
body.has-navbar-fixed-top {
    padding-top: 65px;
}
body.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.store_search {
    display: none;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .3s;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    z-index: 10;

    &.store_search-visible {
        opacity: 1;
        visibility: visible;
        display: flex;
    }
}

.store_breadcrumbs {
    padding: .875rem 0;
}


.error-block,
.help-block {
    display: block;
    font-size: .75rem;
    margin-top: 0.25rem;
}

label {
    &.error {
        font-size: .75rem;
        margin-top: 0.25rem;
        color: $danger;
    }
}

.custom-file-label {
    display: none;
}

.col-mw-45 {
    @include media-breakpoint-up(sm) {
        min-width: 45%;
    }
}

.col-mw-33 {
    @include media-breakpoint-up(sm) {
        min-width: 33%;
    }
}
// a {
//     &:hover {
//         filter: brightness(90%);
//     }
// }


//-------------------------- Buttons -----------------------//
.btn {
    .btn-light {
        background-color: #fff;
        border-color: #e4e4e4;
        &:hover {
            background-color: #fff;
            border-color: #989898;
        }
    }
    &.btn-xl {
        font-size: 1rem;
        padding: 0.938rem 2.5rem;
        min-width: 15rem;
        @include media-breakpoint-up(sm) {
            font-size: 1.25rem;
        }
    }
}
.input-group  {
    .btn-light {
        border-color: $input-border-color;
        &:hover {
            border-color: $input-focus-border-color;
        }
    }
}


//-------------------------- Blog/Page/Article Content -----------------------//
.content-body h1,
.content-body .h1,
.content-body h2,
.content-body .h2,
.content-body h3,
.content-body .h3,
.content-body h4,
.content-body .h4,
.content-body h5,
.content-body .h5,
.content-body h6,
.content-body .h6,
.content-body p:not(:last-child) {
    margin-bottom: 1.5rem;
}

.content-body h1:not(:first-child),
.content-body .h1:not(:first-child),
.content-body h2:not(:first-child),
.content-body .h2:not(:first-child),
.content-body h3:not(:first-child),
.content-body .h3:not(:first-child),
.content-body h4:not(:first-child),
.content-body .h4:not(:first-child),
.content-body h5:not(:first-child),
.content-body .h5:not(:first-child),
.content-body h6:not(:first-child),
.content-body .h6:not(:first-child) {
    padding-top: 1.5rem;
}


.content-body ol:not(:last-child),
.content-body ul:not(:last-child),
.content-body blockquote:not(:last-child) {
    margin-bottom: 3rem;
}

.content-body blockquote {
    background-color: whitesmoke;
    border-left: 5px solid #dbdbdb;
    padding: 1.25rem 1.5rem;
}

.content-body ol {
    list-style-position: outside;
    margin-left: 2rem;
    margin-top: 1rem;
}

.content-body ol:not([type]) {
    list-style-type: decimal;
}

.content-body ol:not([type]).is-lower-alpha {
    list-style-type: lower-alpha;
}

.content-body ol:not([type]).is-lower-roman {
    list-style-type: lower-roman;
}

.content-body ol:not([type]).is-upper-alpha {
    list-style-type: upper-alpha;
}

.content-body ol:not([type]).is-upper-roman {
    list-style-type: upper-roman;
}

.content-body ul {
    list-style: disc outside;
    margin-left: 2rem;
    margin-top: 1rem;
}

.content-body ul ul {
    list-style-type: circle;
    margin-top: 0.5rem;
}

.content-body ul ul ul {
    list-style-type: square;
}

.content-body figure {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
}

.content-body figure:not(:first-child) {
    margin-top: 2rem;
}

.content-body figure:not(:last-child) {
    margin-bottom: 1.125rem;
}

.content-body figure img {
    display: inline-block;
}

.content-body img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

.content-body figure figcaption {
    font-style: italic;
}

.blog_page-filters {
    @include media-breakpoint-up(lg) {
        position: sticky;
        top: $nav-link-height + ($navbar-padding-y * 5);
    }
}
.blog_list-img {
    overflow: hidden;
    display: block;

    figure {
        position: relative;
        height: 0;
        padding-bottom: calc(100%/(16/9));
    }

    img {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        display: block;
        width: 100%;
        max-width: 100%;
    }
}

//-------------------------- Product Page --------------------------------//
.badge-sale {
    z-index: 1;
}
//------------ Maintain original image ratio if selected in settings  --------------- //
.product-images-thumb {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
   
    z-index: 1;

    display: -webkit-box !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    aspect-ratio: 1;
    &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
        width: 100%;
    }
    img {
        max-height: 100%;
        max-width: 100%;
        position: absolute;
        z-index: 1;
        margin: 0 auto;
    }
}

//------------ Subscribe Widget --------------- //

.catalogue_product-option {
    .form-check {
        margin-bottom: 0;
        padding-left: 2.25em;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 1rem;
        border: 1px solid #dee2e6;
        &:not(:last-child) {
            border-bottom: none;
            border-top-right-radius: .25rem;
            border-top-left-radius: .25rem;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        &:not(:first-child) {
            border-bottom-right-radius: .25rem;
            border-bottom-left-radius: .25rem;
        }
        .form-check-label {
            cursor: pointer;
        }
    }

    .form-check-input {
        &:focus {
            border-color: var(--primary-color);
            outline: 0;
            box-shadow: none;
        }

        &:checked {
            background-color: var(--primary-color);
            border-color: var(--primary-color);
        }
    }
}
//-------------------------- Slick Product Slider -----------------------//

.slider-for img {
    margin: 0 auto;
    border-radius: 0.35rem
}

.slider-nav img {
    padding: .75rem;
}

.slider-nav {
    &.is-no-scroll {
        .slick-track {
            transform: none !important;
        }
    }

    .slick-slide {
        opacity: .5;
        cursor: pointer;

        &.slick-current {
            opacity: 1;
        }
    }
}

//------------ Slider --------------- //


.slick-loading .slick-list {
    background: #fff url('{{ "img/ajax-loader.gif" | asset_url }}') center center no-repeat;
}


// ---------- Arrows ------------- //

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 48%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 1;
}

.slick-prev {

    &:hover,
    &:focus {
        color: transparent;
        outline: none;
        background: transparent;
    }
}

.slick-next {

    &:hover,
    &:focus {
        color: transparent;
        outline: none;
        background: transparent;
    }
}

.slick-prev {

    &:hover:before,
    &:focus:before {
        opacity: .5;
    }
}

.slick-next {

    &:hover:before,
    &:focus:before {
        opacity: .5;
    }
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev {
    left: -.25rem;
}

[dir='rtl'] .slick-prev {
    right: -.25rem;
    left: auto;
}

.slick-prev:before {
    content: url('{{ "img/icons/icon-arrow-left.svg" | asset_url }}');
}

[dir='rtl'] .slick-prev:before {
    content: url('{{ "img/icons/icon-arrow-right.svg" | asset_url }}');
}

.slick-next {
    right: -.25rem;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -.25rem;
}

.slick-next:before {
    content: url('{{ "img/icons/icon-arrow-right.svg" | asset_url }}');
}

[dir='rtl'] .slick-next:before {
    content: url('{{ "img/icons/icon-arrow-left.svg" | asset_url }}');
}


.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -100px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

    li {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;

        button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 20px;
            height: 20px;
            padding: 5px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent;

            &:hover,
            &:focus {
                outline: none;
            }

            &:hover:before,
            &:focus:before {
                opacity: 1;
            }

            &:before {
                font-size: 3rem;
                line-height: 20px;
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                content: '•';
                text-align: center;
                opacity: .25;
                color: black;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }

        &.slick-active button:before {
            opacity: 1;
        }
    }
}

.slider-for,
.slider-nav {
    display: none;
}

.slider-for.slick-initialized,
.slider-nav.slick-initialized {
    display: block;
}


//-------------------------- Home Page -----------------------//
.overlay {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;

    }

.hero {
      .hero-small {
        @include media-breakpoint-up(md) {
            min-height: 30rem;
        }
        
      }
      .hero-medium {
        @include media-breakpoint-up(md) {
            min-height: 42rem;
        }
        
      }
      .hero-large {
        @include media-breakpoint-up(md) {
           min-height: 56rem; 
        }
        
      }
      .hero-full {
        @include media-breakpoint-up(lg) {
            min-height: 100vh;
        }
      }
    

    .img-hero {
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
        img {
            max-width: 100%;
            // top: 0;
            // left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center center;
            @include media-breakpoint-up(xxl) {
                object-fit: var(--hero-bg-size);
            }
        }
    }
    .hero-content {
        &.start-top {
            @include media-breakpoint-up(md) {
                justify-content: flex-start !important;
                align-items: flex-start !important;
                // position: absolute;
                // top: 0;
                // left: 0;
            }
        }
        &.center-top {
            @include media-breakpoint-up(md) {
                justify-content: center !important;
                align-items: flex-start !important;
                // transform: translateX(-50%);
                // position: absolute;
                // top: 0;
                // left:50%
            }
        }
        &.end-top {
            @include media-breakpoint-up(md) {
                justify-content: flex-end !important;
                align-items: flex-start !important;
                // position: absolute;
                // top: 0;
                // right: 0;
            }
        }
        &.start-middle {
            @include media-breakpoint-up(md) {
                justify-content: flex-start !important;
                    align-items: center !important;
                // transform: translateY(-50%);
                // position: absolute;
                // top: 50%;
                // left:0;
            }
        }
        &.center-middle {
            @include media-breakpoint-up(md) {
                justify-content: center !important;
                align-items: center !important;
                // transform: translate(-50%, -50%);
                // position: absolute;
                // top: 50%;
                // left:50%
            }
        }
        &.end-middle {
            @include media-breakpoint-up(md) {
                justify-content: flex-end !important;
                align-items: center !important;
                // transform: translateY(-50%);
                // position: absolute;
                // top: 50%;
                // right:0;
            }
        }
        &.start-bottom {
            @include media-breakpoint-up(md) {
                justify-content: flex-start !important;
                align-items: flex-end !important;
                // position: absolute;
                // bottom: 0;
                // left:0;
            }
        }
        &.center-bottom {
             @include media-breakpoint-up(md) {
                justify-content: center !important;
                align-items: flex-end !important;
                // transform: translateX(-50%);
                // position: absolute;
                // bottom: 0;
                // left:50%
            }
        }
        &.end-bottom {
            @include media-breakpoint-up(md) {
                justify-content: flex-end !important;
                align-items: flex-end !important;
                // position: absolute;
                // bottom: 0;
                // right: 0;
            }
        }
        
    }
}
.categories {
    .category {
        height: 200px;
    }
    .card-img-cover {
        max-width: 100%;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center center;
    }
}