// .side_cart {
//     .nav-link {
//         display: flex;
//     }
//     .side_cart--icon {
//         line-height: 1.2;
//         margin-right: .375rem;
//     }
// }
.navbar-brand {
    font-size: 1rem;
    font-weight:500 ;
}
.navbar-toggler {
    border: none;
    &:focus {
        border: none;
        box-shadow:none;
    }
}
.nav-item {
    &:hover {
        background-color: #fff;
    }
    @include media-breakpoint-up(md) {
        &:hover {
            background-color: transparent;
        }
    }
}
.nav-link {
    &.has-icon {
        display: flex;
        align-items: center;
        
    }
    svg, img {
        vertical-align: top;
    }
}

.mobile-nav {
    .nav-link {
        &.has-icon {
            line-height: 1;
        }
    }
}