.navbar-brand {
    font-size: 1rem;
    font-weight:500;
    img {
        max-height: 2.5rem;
    }
}
.navbar-toggler {
    border: none;
    &:focus {
        border: none;
        box-shadow:none;
    }
}
.nav-link {
    &.has-icon {
        display: flex;
        align-items: center;
        
    }
    svg, img {
        vertical-align: top;
    }
}

.mobile-nav {
    .nav-link {
        &.has-icon {
            line-height: 1;
        }
    }
}