<aside class="account_page-menu ">
    <div class="account_nav">
        <div class="account_nav-trigger d-md-none">
            <div class="d-grid">
                <a id="account_nav-button" class="btn btn-light dropdown-toggle" data-bs-toggle="collapse" href="#account_nav-list" role="button" aria-expanded="false" aria-controls="account_nav-list">
                    <span>{% t "navigation.account.account_navigation" %}</span>
                </a>
            </div>
        </div>
        <div class="account_nav-list collapse" id="account_nav-list" role="menu">
            <div class="list-group">
                <a class="account_nav-item list-group-item list-group-item-action {% if active_tab == 'orders' %}active{% endif %}" href="{% url 'customer:order-list' %}">
                    <span class="account_nav-item--text">{% t "navigation.account.orders" %}</span>
                </a>
                <a class="account_nav-item list-group-item list-group-item-action {% if active_tab == 'subscriptions' %}active{% endif %}" href="{% url 'customer:subscription-list' %}">
                    <span class="account_nav-item--text">{% t "navigation.account.subscriptions" %}</span>
                </a>
                <a class="account_nav-item list-group-item list-group-item-action {% if active_tab == 'profile' %}active{% endif %}" href="{% url 'customer:profile-view' %}">
                    <span class="account_nav-item--text">{% t "navigation.account.profile" %}</span>
                </a>
                <a class="account_nav-item list-group-item list-group-item-action {% if active_tab == 'addresses' %}active{% endif %}" href="{% url 'customer:address-list' %}">
                    <span class="account_nav-item--text">{% t "navigation.account.addresses" %}</span>
                </a>
                <a class="account_nav-item list-group-item list-group-item-action {% if active_tab == 'support' %}active{% endif %}" href="{% url 'customer:support-ticket-list' %}">
                    <span class="account_nav-item--text">{% t "navigation.account.support" %}</span>
                </a>
            </div>
        </div>
    </div>
</aside>