<footer class="footer border-top mt-auto" style="background-color: var(--footer-bg-color);color: var(--footer-text-color)">
    <div class="container-xl">
        <div class="row pt-5 py-md-5">
            <div class="col-md mb-3 mb-md-0">
                <div class="mb-3">
                    <a href="{{ homepage_url }}">
                        {% include 'partials/footer_logo.html' %}
                    </a>
                </div>
                {% if settings.enable_social %}
                    {% include 'partials/social_links.html' %}
                {% endif %}
            </div>

            <div class="col-md mb-3 mb-md-0">
                {% if settings.footer_menu.items|length > 0 %}
                <div class="mb-3">
                   Quick Links
                </div>
                <ul class="list-unstyled">
                    {% for item in settings.footer_menu.items %}
                        {% if item.level > 0 %}
                            <li class="mb-2 dropdown">
                                <a class="dropdown-toggle dropdown-toggle d-flex justify-content-between justify-content-md-start align-items-center {% if item.child_active %}active{% endif %}" data-bs-toggle="dropdown" data-bs-auto-close="outside" href="{{ item.url }}">{{ item.name }}</a>
                                <ul class="dropdown-menu p-0 ">
                                    {% for child_item in item.items %}
                                        {% if child_item.level > 0 %}
                                            <li class="dropdown">
                                                <a class="dropdown-item dropdown-toggle d-flex justify-content-between align-items-center {% if child_item.child_active %}active{% endif %}" data-bs-toggle="dropdown"  href="{{ child_item.url }}">{{ child_item.name }}</a>
                                                <ul class="dropdown-menu p-0">
                                                    {% for grandchild_item in child_item.items %}
                                                    <li>
                                                        <a class="dropdown-item {% if grandchild_item.current %}active{% endif %}" href="{{ grandchild_item.url }}">
                                                        {{ grandchild_item.name }}
                                                        </a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% else %}
                                            <li>
                                                <a class="dropdown-item {% if child_item.current %}active{% endif %}" href="{{ child_item.url }}">
                                                    {{ child_item.name }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li class="mb-2">
                                <a class="{% if item.current %}active{% endif %}" href="{{ item.url }}">{{ item.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

    
            <div class="col-md-auto">
                <div class="mb-3">
                    {% t "navigation.footer.contact_us" %}
                </div>
                <ul class="list-unstyled">
                    {% if store.address.line_1 %}
                    <address>
                        {% if store.legal_name %}{{ store.legal_name }}<br>{% endif %}
                        {% if store.address.line_1 %}{{ store.address.line_1 }}{% endif %}{% if store.address.line_2 %}, {{ store.address.line_2 }}{% endif %}<br>
                        {% if store.address.city and store.address.state %}{{ store.address.city }}, {{ store.address.state }}
                        {% elif store.address.city and not store.address.state %}
                        {{ store.address.city }}
                        {% elif store.address.state and not store.address.city %}
                        {{ store.address.state }}
                        {% endif %}
                        {% if store.address.postcode %}{{ store.address.postcode }}{% endif %}
                        <br>
                        {% if store.address.country %}{{ store.address.country }}{% endif %}
                    </address>
                    {% endif %}
                    {% if store.phone %}
                    <li class="mb-2">Phone: <a href="tel:{{ store.phone }}">{{ store.phone }}</a></li>
                            
                    {% endif %}
                    {% if store.email %}
                        <li class="mb-2">Email: <a href="mailto:{{ store.email }}">{{ store.email }}</a></li>
                    {% endif %}
                </ul>
            </div>
            
            
        </div>
        {% if settings.pay_icons or storefront_geos and storefront_geos|length > 1 %}
        <div class="row py-3 align-items-center justify-content-between">

            <div class="col-sm-auto mb-3 mb-sm-0">
                <div class="d-flex align-items-center">
                    {% for icon in settings.pay_icons %}
                        <span class="pay-icon pay-icon-{{ icon }}"></span>&nbsp;
                    {% endfor %}
                    
                </div>
            </div>
      
            <div class="col-sm-auto ">
                 {% include 'partials/nav_lang_currency_switcher.html' %}
            </div>
           
        </div>
        {% endif %}
        <div class="row  pt-3 pb-5 border-top">
            
            <div class="col-sm mb-4 mb-sm-0 fs-6">
                 &copy;{% now "Y" %} {{ store.name }}. {% t "navigation.footer.copyright" %}
            </div>
            
        </div>
        {% if settings.site_disclaimer %}
        <div class="row pb-5">
            <div class="col-sm mb-4 mb-sm-0 fs-9">
                {{ settings.site_disclaimer|safe }}
            </div>
        </div>
        {% endif %}
    </div>
</footer>