{% extends "layouts/customer_base.html" %}

{% block breadcrumbs %}
<section class="store_breadcrumbs">
    <div class="container-xl">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ homepage_url }}">{% t "navigation.main.home" %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'customer:summary' %}">{% t "navigation.account.account" %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'customer:support-ticket-list' %}">{% t "navigation.account.support" %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% t "customer.support.create_new_support" %}</li>
            </ol>
        </nav>
    </div>
</section>
{% endblock %}
{% block header %}
    <h4>{% t "customer.support.create_support_request" %}</h4>
{% endblock %}
{% block headertext %}
    <p>{% t "customer.support.create_support_request_timeframe" %}</p>
{% endblock %}

{% block tabcontent %}
    <form id="register_form" class="row g-3" action="{{ request.get_full_path }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.is_bound and not form.is_valid %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
            	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {% t "global.error.please_check_error" %}
            </div>
        {% endif %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                     {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        {% include 'partials/form_field.html' with field=form.requester %}
        
        {% include 'partials/form_field.html' with field=form.subject %}
            
        
            
        {% include 'partials/form_field.html' with field=form.ticket_type breakpoint_col='col-md-6'  %}
          
        {% include 'partials/form_field.html' with field=form.priority breakpoint_col='col-md-6'  %}
            
        
        
        {% include 'partials/form_field.html' with field=form.description %}
            
        
        {% include 'partials/form_field.html' with field=form.attachments %}
        <div class="d-grid gap-2 d-md-block mt-4">
            <input type="hidden" name='action' value='create_ticket'>
            <button class="btn btn-primary" type="submit">{% t "customer.support.submit_ticket" %}</button>
        </div>
    </form>
{% endblock tabcontent %}