{% extends "layouts/customer_base.html" %}

{% block breadcrumbs %}
<section class="store_breadcrumbs">
    <div class="container-xl">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ homepage_url }}">{% t "navigation.main.home" %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'customer:summary' %}">{% t "navigation.account.account" %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'customer:support-ticket-list' %}">{% t "navigation.account.support" %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
            </ol>
        </nav>
    </div>
</section>
{% endblock %}
{% block header %}
    <h4>{{ ticket.subject }}</h4>
{% endblock %}
{% block headertext %}
    <p>{% t "customer.support.created_at" with created_at=ticket.created_at|naturaltime  %} </p>
{% endblock %}
{% block header_right %}
<div class="account_page-header-status">
        {% if ticket.status == ticket.TICKET_STATUS_SOLVED %}
            <span class="badge bg-success">{{ ticket.status|title }}</span>
        {% elif ticket.status == ticket.TICKET_STATUS_CLOSED %}
            <span class="badge bg-secondary">{{ ticket.status|title }}</span>
        {% elif ticket.status == ticket.TICKET_STATUS_PENDING %}
            <span class="badge bg-warning">{{ ticket.status|title }}</span>
        {% elif ticket.status == ticket.TICKET_STATUS_NEW %}
            <span class="badge bg-info">{{ ticket.status|title }}</span>
        {% else %}
            <span class="badge bg-secondary">{{ ticket.status|title }}</span>
        {% endif %}
</div>
{% endblock %}

{% block tabcontent %}
        <div class="account_page-support">
        {% if ticket.status != ticket.TICKET_STATUS_CLOSED %}

        <div class="account_support-form-reply mb-4">
            <form method="post" enctype="multipart/form-data" class="row g-3">
                {% csrf_token %}
                <input type="hidden" name='action' value='create_ticket_comment'>
                {% include "partials/form_fields.html" with form=form %}
                <div class="d-grid gap-2 d-md-block mt-4">
                    <button class="btn btn-primary" type="submit">{% t "customer.support.update_ticket" %}</button>
                </div>
            </form>
        </div>
        {% endif %}

        {% for ticket_comment in ticket_comments reversed %}
          <div class="card mb-4">
            <div class="card-header border-bottom">
               <div class="row">
                   <div class="col">
                       <div class="card-header-title">
                            {% t "customer.support.from" with comment_author=ticket_comment.author_name  %}
                        </div>
                        
                   </div>
                   <div class="col-auto">
                       <small class="text-muted">
                            {{ ticket_comment.created_at|naturaltime }}
                        </small>
                   </div>
               </div>
                        
            </div>
            <div class="card-body">
          
                    {{ ticket_comment.body }}
       
            </div>

            {% if ticket_comment.attachments.all %}
            <div class="card-body border-top ">
                <div class="fs-7 ">
                    <strong>{% t "customer.support.attachments" %}</strong>:<br>
                    {% for attachment in ticket_comment.attachments.all %}
                        <a href="{{ attachment.file.url }}">{{ attachment.file_name }}</a><br>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
         
        </div>
        {% endfor %}


{% endblock tabcontent %}