{% extends 'layouts/base.html' %}

{% block title %}
    {% if page_type == 'reset_via_email' %}
        {% t "store.registration.password_reset" %} | {{ block.super }}
    {% elif page_type == "resetting" %}
        {% t "store.registration.reset_email_sent_title" %} | {{ block.super }}
    {% elif page_type in "new_password,reset_password" %}
        {% t "store.registration.enter_new_password" %} | {{ block.super }}
    {% elif page_type == "reset_complete" %}
        {% t "store.registration.password_reset_complete" %} | {{ block.super }}
    {% elif page_type ==  'set_anonymous_password' %}
        {% t "store.registration.enter_new_password" %} | {{ block.super }}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
<section class="store_breadcrumbs">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ homepage_url }}">{% t "navigation.main.home" %}</a></li>
                    {% if page_type == 'reset_via_email' %}
                        <li class="breadcrumb-item"><a href="{% url 'customer:profile-view' %}">{% t "navigation.account.account" %}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{% t "store.registration.password_reset" %}</li>

                    {% elif page_type == 'resetting' %}
                        <li class="breadcrumb-item"><a href="{% url 'password-reset' %}">{% t "store.registration.password_reset" %}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{% t "store.registration.reset_email_sent" %}</li>

                    {% elif page_type in 'new_password,reset_password' %}
                        <li class="breadcrumb-item"><a href="{% url 'password-reset' %}">{% t "store.registration.password_reset" %}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{% t "store.registration.enter_new_password" %}</li>

                    {% elif page_type == 'reset_complete' %}
                        <li class="breadcrumb-item"><a href="{% url 'password-reset' %}">{% t "store.registration.password_reset" %}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{% t "store.registration.complete" %}</li>

                    {% elif page_type == 'set_anonymous_password' %}
                        <li class="breadcrumb-item"><a href="{% url 'password-reset' %}">{% t "store.registration.password_reset" %}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{% t "store.registration.password_recovery" %}</li>

                    {% endif %}
                </ol>
            </nav>
        </div>
    </section>
{% endblock %}

{% block content %}
    {% if page_type == 'reset_via_email' %}
    <section class="register_page">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-block mb-4">
                                <div class="h4">{% t "store.registration.password_reset" %}</div>
                                <div class="fs-6">{% t "store.registration.password_reset_text" %}</div>
                            </div>

                            <div class="register_form-forgot-pass">
                                <form id="password_reset_form" class="row g-3" action="." method="post">
                                    {% csrf_token %}
                                    {% include 'partials/form_fields.html' %}
                                    <div class="d-grid gap-2 mt-4">
                                            <button type="submit" class="btn btn-primary btn-lg" data-loading-text='{% t "store.registration.send_reset_email_loading" %}'>{% t "store.registration.send_reset_email" %}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% elif page_type == "resetting" %}
    <section class="register_page">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card">
                        <div class="card-body">
                            <h2>{% t "store.registration.reset_email_sent" %}</h2>
                            {% t "store.registration.reset_email_sent_message" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% elif page_type in "new_password,reset_password" %}
    <section class="register_page">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card">
                        <div class="card-body">
                            {% if form %}
                            <div class="d-block mb-4">
                                <h2>{% t "store.registration.enter_new_password" %} {{ user.email }}</h2>
                                <p>{% t "store.registration.enter_new_password_message" %}</p>
                            </div>
                            <form id="password_reset_form" class="row g-3" action="." method="post">
                                {% csrf_token %}
                                {% include 'partials/form_fields.html' %}
                                 <div class="d-grid gap-2 mt-4">
                                        <button class="btn btn-primary btn-lg" type="submit" data-loading-text='{% t "store.registration.change_my_password_loading" %}'>{% t "store.registration.change_my_password" %}</button>
                                    </div>
                                </div>
                            </form>
                            {% elif not validlink %}
                                <h2>{% t "store.registration.reset_unsuccessful" %}</h2>
                                <p>{% t "store.registration.reset_unsuccessful_message" %}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% elif page_type == "reset_complete" %}
    <section class="register_page">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card">
                        <div class="card-body">
                            <h2>{% t "store.registration.password_reset_complete" %}</h2>
                            <p>{% t "store.registration.password_reset_complete_message" %}</p>
                            <div class="d-grid gap-2 mt-4">
                                <a href="{{ login_url }}" class="btn btn-primary btn-lg">{% t "global.button.login" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% elif page_type ==  'set_anonymous_password' %}
    <section class="register_page">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card">
                        <div class="card-body">
                            {% if validlink %}
                                <h2>{% t "store.registration.welcome" %}</h2>
                                <p>{% t "store.registration.create_your_password with site_name=site.name" %}</p>
                                <ul>
                                  <li>{% t "store.registration.manage_orders" %}</li>
                                  <li>{% t "store.registration.personal_settings" %}</li>
                                </ul>
                                <form id="password_reset_form" class="row g-3" action="." method="post">
                                    {% csrf_token %}
                              
                                    {% include 'partials/form_fields.html' %}
                              
                                    <div class="d-grid gap-2 mt-4">
                                        <button class="btn btn-primary btn-lg" type="submit" data-loading-text='{% t "store.registration.continue_to_account" %}'>{% t "store.registration.continue_to_account_loading" %}</button>
                                    </div>
                                </form>
                            {% else %}
                                <h2>{% t "store.registration.reset_unsuccessful" %}</h2>
                                <p>{% t "store.registration.reset_unsuccessful_message" %}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif  %}
{% endblock %}