{% extends "layouts/base.html" %}
{% block content_wrapper %}

<section>
    <div class="container-xl text-center">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h6 >
                    {% t "global.error.500" %}
                </h6>
                <h1>
                    {% t "global.error.500_heading" %}
                </h1>
                <p >
                    {% t "global.error.500_message" %}
                </p>
                <button onclick="window.history.back();" class="btn btn-primary">
                    {% t "global.button.go_back" %}
                </button>
             </div>
         </div>
    </div>
</section>
{% endblock %}