{% extends "layouts/base.html" %}

{% block title %}
    {% t "order.cart.title" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<section class="store_breadcrumbs">
    <div class="container-xl">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ homepage_url }}">{% t "navigation.main.home" %}</a></li>

                <li class="breadcrumb-item active" aria-current="page">{% t "order.cart.title" %}</li>
            </ol>
        </nav>
    </div>
</section>
{% endblock %}

{# Hide mini-cart so we don't have two carts to keep in sync #}
{% block mini_cart %}{% endblock %}


{% block content %}
    {% include 'partials/cart_content.html' %}
{% endblock content %}

{% block modals %}{% endblock %}


{% block onbodyload %}
    {{ block.super }}
    {# Cart JS actions #}
    core.cart.init();
{% endblock %}