{% extends "layouts/base.html" %}



{% block extrastyles %}
<style>
    :root {
        --hero-text-color: {{ settings.hero_text_color }};
        --hero-overlay: {{ settings.hero_overlay }};
        --hero-overlay-opacity: {{ settings.hero_overlay_opacity }}%;
        --hero-bg-size: {{ settings.hero_bg_size }};
        --hero-bg-color: {{ settings.hero_bg_color }};
        --fc-bg-color: {{ settings.fc_bg_color }};
        --fc-text-color: {{ settings.fc_text_color }};
        --fc-overlay: {{ settings.fc_overlay }};
        --fc-overlay-opacity: {{ settings.fc_overlay_opacity }}%;
        --fp-bg-color: {{ settings.fp_bg_color }};
        --fp-text-color: {{ settings.fp_text_color }};
        --fps-bg-color: {{ settings.fps_bg_color }};
        --fps-card-bg: {{ settings.fps_card_bg }};

     }
     {% if settings.home_page_css %}
     {{ settings.home_page_css }}
     {% endif %}
     
</style>
{% endblock extrastyles %}



{% block announcement_bar %}{% if settings.ab_placement == 'home'%}{% include "partials/announcement_bar.html" %}{% elif settings.ab_placement == 'all'%}{% include "partials/announcement_bar.html" %}{% endif %}{% endblock announcement_bar %}


{% block content_wrapper %}
{% if settings.account_only %}
        {% include "partials/account_only.html" %}
{% else %}

<section class="hero position-relative" style="background-color: var(--hero-bg-color);">
    {% if settings.hero_img %}
    <div class="img-hero">
        <img src="{{ settings.hero_img }}" class="d-none d-md-block" alt="{{ store.name }}">
        <img src="{{ settings.hero_img_mobile }}" class="d-block d-md-none" alt="{{ store.name }}">
    </div>
    {% endif %}
    <div class="overlay" style="background-color: var(--hero-overlay); opacity:var(--hero-overlay-opacity);"></div>
    <div class="container">
        <div class="row position-relative hero-content  hero-{{ settings.hero_height }} {{ settings.hero_content_pos }}" >
            <div class="col col-lg-{{ settings.hero_content_width }}">
                <div class="px-2 px-lg-4 py-5 text-{{ settings.hero_text_align }}">
                    {% if settings.hero_text %}
                        <h1 class="mb-3 display-{{ settings.hero_text_size }}" style="color: var(--hero-text-color);">{{ settings.hero_text }}</h1>
                    {% endif %}
                    {% if settings.hero_subtext %}
                        <p class="mb-5 fs-{{ settings.hero_subtext_size }}" style="color: var(--hero-text-color);">{{ settings.hero_subtext }}</p>
                    {% endif %}
                    {% if settings.hero_cta %}
                        <div class="d-grid gap-3 d-lg-block mb-5 ">
                            <a class="btn btn-{% if settings.hero_cta_outline %}outline-{% endif %}{{ settings.hero_cta_color }} btn-xl" href="{{ settings.hero_cta }}">{{ settings.hero_cta_text }}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% if settings.featured_categories|length > 0 %}
<section class="categories" style="background-color: var(--fc-bg-color);">
    <div class="container py-6">
        {% if settings.fc_header %}
        <div class="row mb-4">
            <div class="col text-{{ settings.fc_header_align }}">
                <h2 class="fs-{{ settings.fc_header_size }}">{{ settings.fc_header }}</h2>
            </div>
        </div>
        {% endif %}
        <div class="row row-cols-1 row-cols-lg-{{ settings.featured_cats_count }} g-4">
            {% for category in settings.featured_categories %}
            <div class="col category">
                <div class="card h-100 overflow-hidden" >
                    <a href="{{ category.get_absolute_url }}" class="w-100 h-100">
                    {% if category.image %}    
                        <img src="{{ category.image.url }}" class="card-img-cover" alt="{{ category.name }}">
                    {% endif %}
                    <div class="overlay" style="background-color: var(--fc-overlay); opacity:var(--fc-overlay-opacity);"></div>
                     <div class="p-2 position-absolute top-50 start-50 translate-middle">
                        <h5 class="card-title" style="color: var(--fc-text-color);">{{ category.name }}</h5>

                    </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}


{% if settings.featured_product_show %}
<section class="feature-product"  style="background-color: var(--fp-bg-color);">
    <div class="container py-8">
        <div class="row align-items-center">
            <div class="col position-relative">
                {% with image=settings.featured_product.get_all_images %}
                {% image_thumbnail image.0.original "850x850" crop="center" upscale=True as thumb %}
                    <img src="{{ thumb.url }}" alt="{{ settings.featured_product.get_title }}" class="img-fluid ">
                {% endwith %}
                {% if settings.featured_product.metadata.file_up %}
                 <div class="position-absolute top-2 start-5">
                    <img src="{{ settings.featured_product.metadata.file_up.url }}" alt="" class="img-fluid mb-4">
                </div>
                {% endif %}
            </div>
            <div class="col-md-6 p-3 p-md-5">
                <h2 class="fs-3" style="color: var(--fp-text-color);">{{ settings.featured_product.title }}</h2>
                <div class="fs-5 mb-2">
                    {% purchase_info_for_product request settings.featured_product as session %} 
                    {% if session.price.exists %}
                        <strong style="color: var(--fp-text-color);">{{ session.price.price|currency:session.price.currency }}</strong>
                        {% if session.price.price_retail > session.price.price %}
                            <s class="fs-6">{{ session.price.price_retail|currency:session.price.currency }}</s>
                        {% endif %}
                    {% else %}
                    &nbsp;
                    {% endif %}
                </div>
                <p style="color: var(--fp-text-color);">{{ settings.fp_desc }}</p>
                
                <div class="d-grid gap-4 d-xl-block mt-5">
                    <a class="btn btn-{% if settings.fp_cta_outline %}outline-{% endif %}{{ settings.fp_cta_color }} btn-xl" href="{{ settings.featured_product.get_absolute_url }}">{{ settings.fp_cta_text }}</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}


{% if settings.featured_products|length > 0 %}
<section class="featured-products" style="background-color: var(--fps-bg-color);">
    <div class="container py-6">
        {% if settings.fps_header %}
        <div class="row mb-4">
            <div class="col text-{{ settings.fps_header_align }}">
                <h2 class="fs-{{ settings.fps_header_size }}">{{ settings.fps_header }}</h2>
            </div>
        </div>
        {% endif %}
        <div class="row row-cols-2 row-cols-lg-{{ settings.featured_products_count }} g-4">
            {% for product in settings.featured_products %}
            {% purchase_info_for_product request product as session %}
            {% if session.availability.is_available_to_buy %}
            <div class="col">
                <div class="card h-100 {% if not settings.product_card_border %}border-0{% endif %}" style="background-color: var(--fps-card-bg);">
                        {% if settings.product_media_fit == 'fit' %}
                            {% with image=product.primary_image %}
                            {% image_thumbnail image.original "850x" as thumb %}
                            <div class="position-relative overflow-hidden mb-3 bg-light">
                                <a href="{{ product.get_absolute_url }}" class="product-images-thumb">
                                    <img src="{{ thumb.url }}" alt="{{ product.get_title }}" class="img-fluid">
                                </a>
                            </div>
                            {% endwith %}
                        {% else %}
                            {% with image=product.primary_image %}
                            {% image_thumbnail image.original "850x850" crop="center" upscale=True as thumb %}
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{{ thumb.url }}" alt="{{ product.get_title }}" class="card-img-top">
                            </a>
                            {% endwith %}
                        {% endif %}
                    <div class="card-body d-flex flex-column">
                        <div class="card-title">
                            <a href="{{ product.get_absolute_url }}" title="{{ product.get_title }}" class="text-dark">{{ product.get_title }}</a>
                        </div>
                        {% if settings.product_reviews and product.rating %}
                            <div class="card-text d-flex mb-2">
                                <div class="catalogue_item-rating-stars">
                                    {% for i in '12345' %}
                                    {% if forloop.counter <= product.rating %} 
                                        <span class="text-warning">
                                            &#9733;
                                        </span>       
                                        {% else %}
                                        <span class="text-muted">
                                            &#9733;
                                        </span>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="catalogue_item-rating-count ms-2">
                                    ({{product.num_approved_reviews}})
                                </div>
                            </div>
                        {% endif %}
                        <div class="mt-auto">
                            
                            <div class="d-block">
                                {% if session.price.exists %}
                                    <span>
                                        {{ session.price.price|currency:session.price.currency }}
                                    </span>
                                    {% if session.price.price_retail > session.price.excl_tax %}
                                        <div class="badge badge-sale bg-danger position-absolute top-2 start-5 text-uppercase">{% t "store.catalogue.sale" %}</div>
                                        <span class="text-muted fs-8">
                                            <s>{{ session.price.price_retail|currency:session.price.currency }}</s>
                                        </span>
                                    {% endif %}
                                {% else %}
                                &nbsp;
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center">
            <div class="d-grid gap-4 d-xl-block mt-6">
                <a class="btn btn-{% if settings.fps_cta_outline %}outline-{% endif %}{{ settings.fps_cta_color }} btn-xl" href="{% url 'catalogue:index' %}">View All</a>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% endif %}
{% endblock %}