{% extends "layouts/customer_base.html" %}
{% block breadcrumbs %}
<section class="store_breadcrumbs">
    <div class="container-xl">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ homepage_url }}">{% t "navigation.main.home" %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'customer:summary' %}">{% t "navigation.account.account" %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'customer:subscription-list' %}">{% t "navigation.account.subscriptions" %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'customer:subscription-detail' pk=subscription_id %}">#{{ subscription_id }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% t "customer.subscriptions.shipping_address" %}</li>
            </ol>
        </nav>
    </div>
</section>
{% endblock %}
{% block header %}<h4>{% t "customer.subscriptions.change_shipping_address_heading" %}</h4>{% endblock %}
{% block tabcontent %}
{% if user.is_authenticated %}
{% if addresses %}
<div class="account_addresses">

    <table class="account_table">
        <tbody>
            {% for address in addresses %}
            {% block select_address_form %}
            <tr>
                <td scope="row" data-label="Shipping Address">
                    
                    <address>
                        {% block select_address_fields %}
                        {% for field in address.active_address_fields %}
                        <span>{{ field }}</span><br />
                        {% endfor %}
                        {% endblock %}
                    </address>
                </td>
                <td data-label="">
                    <div class="account_table-actions">        
                        <form method="post" id="select_shipping_address_{{ address.id }}">
                            {% csrf_token %}
                            <input type="hidden" name="address_id" value="{{ address.id }}" />
                            {% if address.is_default_for_shipping %}
                                <button type="submit" class="btn btn-primary btn-sm" data-loading-text='{% t "global.button.save_loading" %}'>
                                    {% t "customer.subscriptions.ship_to_default_address" %}</button>
                                {% else %}
                                <button type="submit" class="btn btn-primary btn-sm" data-loading-text='{% t "global.button.save_loading" %}'>{% t "customer.subscriptions.ship_to_this_address" %}</button>
                            {% endif %}
                            <br>
                        </form>
                    </div>
                </td>
                <td data-label="">
                    <div class="account_table-actions">
                        <a href="{% url 'customer:address-detail' pk=address.id %}" class="btn btn-outline-primary btn-sm">{% t "global.button.edit" %}</a>
                        <a href="{% url 'customer:address-delete' pk=address.id %}" class="btn btn-light btn-sm">{% t "global.button.delete" %}</a>
                        
                    </div>
                </td>
            </tr>
            {% endblock %}
            {% endfor %}
        </tbody>
    </table>
    


</div>
{% endif %}
{% endif %}
<div class="my-3">
    <h4>{% t "customer.subscriptions.new_address" %}</h4>
</div>

{% block new_address_form %}
    <form method="post" id="new_shipping_address" class="row g-3">
        {% csrf_token %}
        {% include 'partials/form_field.html' with field=form.country  %}
        
        {% include 'partials/form_field.html' with field=form.first_name breakpoint_col='col-md-6' %}
      
        {% include 'partials/form_field.html' with field=form.last_name breakpoint_col='col-md-6' %}
            
        {% include 'partials/form_field.html' with field=form.line1 breakpoint_col='col-md-6' %}
      
        {% include 'partials/form_field.html' with field=form.line2 breakpoint_col='col-md-6' %}
          
        {% include 'partials/form_field.html' with field=form.state breakpoint_col='col-md-6' %}
    
        {% include 'partials/form_field.html' with field=form.line4 breakpoint_col='col-md-6' %}
       
        {% include 'partials/form_field.html' with field=form.postcode breakpoint_col='col-md-6' %}
     
        {% include 'partials/form_field.html' with field=form.phone_number breakpoint_col='col-md-6' %}
       
  
        <div class="d-grid gap-2 d-md-block mt-4">
            <button class="btn btn-light" onclick="window.history.go(-1);return false" >{% t "global.button.cancel" %}</button>
            <button type="submit" class="btn btn-primary" data-loading-text='{% t "global.button.update_loading" %}'>{% t "global.button.update" %}</button>
        </div>
        

    </form>
{% endblock %}
{% endblock tabcontent %}