{% extends "layouts/customer_base.html" %}

{% block breadcrumbs %}
<section class="store_breadcrumbs">
    <div class="container-xl">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ homepage_url }}">{% t "navigation.main.home" %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'customer:summary' %}">{% t "navigation.account.account" %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'customer:subscription-list' %}">{% t "navigation.account.subscriptions" %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
            </ol>
        </nav>
    </div>
</section>
{% endblock %}
{% block header %}<h4>{% t "customer.subscriptions.heading_detail" with page_title=page_title %}</h4>{% endblock %}
{% block headertext %}


{% endblock %}
{% block modals %}
{{ block.super }}
<!-- Change Next Shipment Date Modal -->
<div class="modal fade" id="sub-change-next-shipment-date" tabindex="-1" aria-hidden="true">
    <form method="post" novalidate>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% t "customer.subscriptions.modal_change_ship_date_heading" %}</h5>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
    
                <div class="modal-body">
                
                    <p>{% t "customer.subscriptions.modal_change_ship_date_body" %}</p>
                    <h6>{% t "customer.subscriptions.modal_next_ship_date" with next_renewal=object.next_renewal_date|date:"d M, Y" %}</h6>
                    <p>{% t "customer.subscriptions.modal_use_calendar_body" %}</p>
                     <div class="row">
                        {% include "partials/form_field.html" with field=next_shipment_form.next_renewal_date nolabel=True %}
                    </div>
                </div>
                <div class="modal-footer">
                    
                    <input type="hidden" name='action' value='change_next_shipment_date'>
                    {% csrf_token %}
              
                    <button class="btn btn-light" type="submit">
                        {% t "customer.subscriptions.modal_change_ship_date_button" %}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Cancel Modal -->
<div class="modal fade" id="subscription-cancel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <form method="post" novalidate>
            {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{% t "customer.subscriptions.modal_cancel_heading" %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                
                        <p>{% t "customer.subscriptions.modal_cancel_body" %}</p>
                        <p>{% t "customer.subscriptions.modal_cancel_create" %} 
                            <a href="{% url 'customer:support-ticket-create' %}">{% t "customer.subscriptions.modal_cancel_support_ticket" %}</a>
                            {% t "customer.subscriptions.modal_cancel_happy_to_help" %}
                        </p>
                        <p><strong>{% t "customer.subscriptions.modal_cancel_reason" %}</strong><span class="text-danger">{% t "customer.subscriptions.required" %}</span></p>

                        {% include "partials/form_field.html" with field=cancel_form.cancel_reason nolabel=True %}

                        

                    </div>
                    <input type="hidden" name='action' value='cancel'>
                    <div class="modal-footer">
                        <a class="btn btn-primary" data-bs-dismiss="modal">
                            {% t "global.button.nevermind" %}
                        </a>
                        <button class="btn btn-light" >
                            {% t "global.button.confirm" %}
                        </button>
                    </div>
                </div>
        </form>
    </div>
</div>
<!-- Subscription Down Sell Modal -->
{% if object.downsell_available %}

    <form method="post">
        {% csrf_token %}
        <div class="modal fade" id="subscription-cancel-downsell" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title">{% t "customer.subscriptions.modal_downsell_header" %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">


                        <p>{% t "customer.subscriptions.modal_downsell_body" %}</p>
                        <div class="text-center">
                            <h6>
                                <strong>
                                    {% t "customer.subscriptions.modal_downsell_offer_for_you" with name=object.user.first_name %}
                                </strong>
                            </h6>
                        </div>
                        <div class="alert bg-info">
                            <strong>

                                {% t "customer.subscriptions.modal_downsell_offer_detail" with percentage=subscription_downsell_info.percentage|floatformat:0 total=subscription_downsell_info.total_incl_tax.incl_tax|currency:object.currency %}
                            </strong>
                        </div>


                        <table class="account_table">
                            <thead>
                                <tr>
                                    <th scope="col">{% t "tables.heading.product" %}</th>
                                    <th scope="col">{% t "tables.heading.qty" %}</th>
                                    <th scope="col">{% t "tables.heading.new_total" %}</th>

                                </tr>
                            </thead>
                            <tbody>
                            	{% for line in object.lines.all %}
                                <tr>
                                    <td data-label='{% t "tables.heading.product" %}'>
                                        <div class="account_table-product">
                                        {% with image=line.product.primary_image product=line.product %}
                                        	{% image_thumbnail image.original "200x200" upscale=False as thumb %}
        	                                	<div class="account_table-pimage">
        	                                        <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
        	                                    </div>
                                            <div>
                                                <div class="account_table-pname">
                                                	{{ product.get_title }}
                                                	({{ line.downsell_price|currency:object.currency }})
        				                        </div>
                                            </div>
                                        {% endwith %}
                                        </div>
                                    </td>
                                    <td data-label='{% t "tables.heading.qty" %}'>{{ line.quantity }}</td>

                                    <td data-label='{% t "tables.heading.total" %}'>
        	                                {{ line.downsell_line_price|currency:object.currency }}

                                    </td>

                                </tr>
                                {% endfor %}

                                <tr>
                                    <td colspan="2" style="text-align: right">{% t "tables.content.shipping" %}</td>
                                    <td>{{ subscription_downsell_info.shipping_charge.incl_tax|currency:object.currency }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align: right"><div class="account_table-total">{% t "tables.heading.new_total" %}</div></td>
                                    <td><div class="account_table-total">{{ subscription_downsell_info.total_incl_tax.incl_tax|currency:object.currency }}</div></td>
                                </tr>


                            </tbody>
                        </table>

                    </div>
                    <div class="modal-footer">





                        <button class="btn btn-light" type="button" data-bs-target="#subscription-cancel" data-bs-toggle="modal" data-bs-dismiss="modal">{% t "customer.subscriptions.no_downsell" %}</button>

                        <input type="hidden" name='action' value='subscription_downsell'>
                        <button class="btn btn-primary" type="submit" >{% t "customer.subscriptions.yes_downsell" %}</button>
                    </div>


                </div>
            </div>
        </div>
    </form>

{% endif %}
<!-- Change Schedule Modal -->
<div class="modal fade" id="sub-change-schedule" tabindex="-1" aria-hidden="true">

    <form method="post" novalidate>
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% t "customer.subscriptions.modal_change_schedule_heading" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">

                    <p>{% t "customer.subscriptions.modal_change_schedule_body" %}</p>
                    <br>
                    
                    <label class="form-label" for="interval_count">{% t "customer.subscriptions.modal_change_schedule_label" %}</label>
                        
                    {% render_field change_schedule_form.interval_count class+="form-select" %}
                            
                       
             

                </div>

                <div class="modal-footer">
                    <input type="hidden" name='action' value='change_schedule'>
                    <button class="btn btn-primary" type="submit">
                        {% t "customer.subscriptions.modal_change_schedule_button" %}
                    </button>
                </div>
            </div>
        </div>
          


      
    
    </form>

</div>
<!-- Reactivate Modal -->
<div class="modal fade" id="sub-reactivate" tabindex="-1" aria-hidden="true">
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% t "customer.subscriptions.modal_reactivate_heading" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{% t "customer.subscriptions.modal_reactivate_body" %}</p>
                    <div class="row">
                        {% include "partials/form_field.html" with field=reactivate_form.renewal_date nolabel=True %}
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name='action' value='reactivate'>
                    <button class="btn btn-primary" type="submit">
                        {% t "customer.subscriptions.modal_reactivate_button" %}
                    </button>
                </div>
            </div>
        </div>
    </form>
    <button class="store_modal-close store_modal-dismiss" aria-label="close"></button>
</div>
{% if object.num_lines > 1%}
<!-- Remove Product Modal -->
    {% for line in object.lines.active %}
    <div class="modal fade" id="subscription-remove-product-{{ line.id }}" tabindex="-1" aria-hidden="true">

        <form method="post">
           <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
               
                        <h5 class="modal-title">{% t "customer.subscriptions.modal_remove_product_heading" %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h6 class="text-muted">{% t "customer.subscriptions.modal_remove_product_confirmation" %}</h6>
                   
                        <div class="d-flex justify-content-between align-items-center border-top border-bottom">
                            <div>
                                {% with image=line.product.primary_image product=line.product %}
                                {% image_thumbnail image.original "80x" upscale=False as thumb %}
                            
                                <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
                                <span class="fs-7">{{ product.get_title }}</span>
                            </div>
                     
                                
                                <span class="fs-7"><strong>{% t "tables.heading.qty" %}:</strong> {{ line.quantity }}</span>
                                <span class="fs-7"><strong>{% t "tables.heading.price" %}:</strong> {{ line.price|currency:object.currency }}</span>
                       
                        
                    
                        </div>
                    </div>
                    <div class="modal-body">
                        
                        

                        <div class="alert bg-warning">{% t "customer.subscriptions.modal_remove_product_body" %}</div>
                        {% endwith %}
                    </div>
                    <input type="hidden" name='action' value='remove_subscription_line'>
                    <input type="hidden" name='line_id' value='{{ line.id }}'>
                    {% csrf_token %}
                    <div class="modal-footer">
                        
             

                        <a class="btn btn-primary" data-bs-dismiss="modal">
                            {% t "global.button.nevermind" %}
                        </a>
                        <button class="btn btn-light">
                            {% t "global.button.confirm" %}
                        </button>
                    </div>
                </div>
            </div>
        </form>

    </div>
    {% endfor %}
{% endif %}
{% endblock modals %}
{% block tabcontent %}

<div class="account_order-card card mb-5 fs-7">
     <div class="card-header">
        {% t "customer.subscriptions.status_is"  %}
        {% if subscription.status == subscription.ACTIVE %}
            <span class="text-success">{{ subscription.status|title }}</span>
            {% elif subscription.status == subscription.PENDING %}
            <span class="text-muted">{{ subscription.status|title }}</span>
            {% elif subscription.status == subscription.PAST_DUE %}
            <span class="text-warning">{{ subscription.status|title }}</span>
            {% elif subscription.status == subscription.CANCELED %}
            <span class="text-danger">{{ subscription.status|title }}</span>
        {% else %}
            {{ subscription.status|title }}
        {% endif %}
        <br>
        {% t "customer.subscriptions.next_shipment" with ship_date=subscription.next_renewal_date  %}
        <br>
        {% t "customer.subscriptions.subscription_schedule" with subscription_frequency=subscription.frequency %}
     </div>
    <div class="account_order-detail card-body">
        <div class="row gy-4">
            <div class="col-lg-4">
                <div class="account_order-detail-shipping">
                    <div class="account_order-detail-header h6 text-muted">
                        {% t "customer.subscriptions.shipping_address" %}
                    </div>
                    <div class="account_order-detail-address">
                        <address>
                            {% for field in object.shipping_address.active_address_fields %}
                            {{ field }}<br />
                            {% endfor %}
                        </address>
                    </div>
                    {% if object.status != object.CANCELED %}
                    <div class="account_order-detail-link"><a href="{% url 'customer:subscription-shipping-address' pk=object.id %}">{% t "customer.subscriptions.edit_shipping_address" %}</a></div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="account_order-detail-pay">
                    <div class="account_order-detail-header h6 text-muted">
                        {% t "customer.subscriptions.payment_method" %}
                    </div>
                    <div class="account_order-detail-card">
                        <span class="text-success">{{ object.bankcard.number }}</span>
                        <br>
                        <strong>{% t "customer.subscriptions.expires" %}</strong> {{ object.bankcard.expiry_month }}
                        <br><br>
                        <address>
                            {% for field in object.billing_address.active_address_fields %}
                            {{ field }}<br />
                            {% endfor %}
                        </address>
                    </div>
                    {% if object.status != object.CANCELED %}
                    <div class="account_order-detail-link"><a href="{% url 'customer:subscription-payment-method' pk=object.id %}">{% t "customer.subscriptions.update_payment_method" %}</a></div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="account_order-detail-summary">
                    <div class="account_order-detail-header h6 text-muted">
                        {% t "customer.subscriptions.order_summary" %}
                    </div>
                    <div class="account_order-detail-summary-list">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between"><span>{% t "customer.subscriptions.subtotal" %}:</span>{{ object.total_incl_tax|currency:object.currency }}</li>
                            <li class="list-group-item d-flex justify-content-between"><span>{% t "customer.subscriptions.shipping" %}</span>{{ object.shipping_charge.incl_tax|currency:object.currency }}</li>
                            <li class="account_order-detail-summary-total list-group-item fw-bold d-flex justify-content-between"><span>{% t "customer.subscriptions.total" %}</span>{{ object.total_incl_shipping.incl_tax|currency:object.currency }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="account_order-detail-actions card-body border-top text-end">
        {% if object.status != object.CANCELED %}
        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#sub-change-next-shipment-date">{% t "customer.subscriptions.edit_ship_date" %}</button>
        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#sub-change-schedule">{% t "customer.subscriptions.change_schedule" %}</button>
        <button class="btn btn-light" data-bs-toggle="modal" {% if object.downsell_available %} data-bs-target="#subscription-cancel-downsell" {% else %} data-bs-target="#subscription-cancel" {% endif %}>{% t "global.button.cancel" %}</button>
        {% else %}
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sub-reactivate">{% t "customer.subscriptions.reactivate" %}</button>
        {% endif %}
    </div>
</div>
<form id='subscription_line_form' method="post">
    {% csrf_token %}
    <input type="hidden" name='action' value='change_quantity_subscription_line'>
    <table class="account_table">
        <thead>
            <tr>
                <th scope="col">{% t "tables.heading.product" %}</th>
                <th scope="col">{% t "tables.heading.qty" %}</th>
                <th scope="col">{% t "tables.heading.total" %}</th>
            </tr>
        </thead>
        <tbody>
            {{ formset.management_form }}
            {% for form in formset %}
            {% with line=form.instance %}
            {{ form.id }}
            <tr>
                <td data-label='{% t "tables.heading.product" %}'>
                    {% with image=line.product.primary_image product=line.product %}
                    {% image_thumbnail image.original "200x200" crop="center" upscale=False as thumb %}
                    <div class="account_table-product">
                        <div class="account_table-pimage">
                            <a href="{% url 'catalogue:detail' product.product_slug product.pk %}">
                                <img src="{{ thumb.url }}" alt="{{ product.get_title }}">
                            </a>
                        </div>
                        <div>
                            <div class="account_table-pname">
                                {{ product.get_title }}
                                {% if line.price_incl_tax %}
                                ({{ line.price_incl_tax|currency:object.currency }})
                                {% endif %}
                            </div>
                            <div class="account_table-schedule">{% t "tables.content.sub_frequency" with frequency=subscription.frequency %}</div>
                        </div>
                    </div>
                    {% endwith %}
                </td>
                <td data-label='{% t "tables.heading.quantity" %}'>{% include 'partials/form_field.html' with field=form.quantity nolabel=True %}</td>
                <td data-label='{% t "tables.heading.total" %}'>
                    <div class="account_table-total">
                        {{ line.line_price_incl_tax|currency:object.currency }}
                    </div>
                    {% if object.num_lines > 1 %}
                        <a href="#" data-bs-toggle="modal" data-bs-target="#subscription-remove-product-{{ line.id }}">{% t "customer.subscriptions.remove" %}</a>
                    {% endif %}
                </td>
            </tr>
            {% endwith %}
            {% endfor %}
        </tbody>
    </table>
</form>
{% endblock tabcontent %}
