{% extends "templates/catalogue/index.html" %}

{% block title %}
    {{ category.get_meta_title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ category.description|default:""|striptags }}
{% endblock %}

{% block breadcrumbs %}
<section class="store_breadcrumbs">
    <div class="container-xl">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ homepage_url }}">{% t "navigation.main.home" %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'catalogue:index' %}">{% t "navigation.main.shop" %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ category.name }}</li>
                {% if user.is_staff %}
                    <li class="breadcrumb-item">
                        <a href="{% url 'dashboard:catalogue-category-update' pk=category.id %}"><small> {% t "store.catalogue.edit_this_category" %}</small></a>
                    </li>
                {% endif %}
            </ol>
        </nav>
    </div>
</section>
{% endblock breadcrumbs %}

{% block content %}
    {% if category.name %}
        <div class="container-xl">
                <div class="row mb-4 align-items-center">
                    
                    <div class="col">
                        <h1 class="h5">{{ category.name|safe }}</h1>
                        <p>{{ category.description|safe }}</p>
                    </div>
                </div>
        </div>
    {% endif %}
    {{ block.super }}
{% endblock %}