{% extends "layouts/base.html" %}
{% block seo %}
    {% seo %}
{% endblock %}
{% block title %}
    {{ product.get_meta_title }} | {{ block.super }}
{% endblock %}
{% block description %}
    {{ product.description|default:""|striptags }}
{% endblock %}
{% block breadcrumbs %}
<section class="store_breadcrumbs">
    <div class="container-xl">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ homepage_url }}">{% t "navigation.main.home" %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'catalogue:index' %}">{% t "navigation.main.shop" %}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ product.get_title }}</li>
            </ol>
        </nav>
    </div>
</section>
{% endblock %}
{% block header %}{% endblock header %}
{% block extrastyles %}
<style>
    :root {
    --recommended_products_bg_color: {{ settings.recommended_products_bg_color }};
    --recommended_products_card_bg: {{ settings.recommended_products_card_bg }};

    }
    {% if settings.product_page_css %}
    {{ settings.product_page_css }}
    {% endif %}
    {% if settings.product_description_placement == 'column' %}
        @media (min-width: 992px) { 
            .product-carousel {
                display: block;
                position: sticky;
                top: 120px;
                z-index: 2;
            }
        }
    {% endif %}
</style>
{% endblock extrastyles %}
{% block content %}

<section class="product-{{product.id}} pb-5">
    <div class="container-xl">
        <div class="row">
            <div class="col-lg-{{ settings.product_media_size }} mb-3 mb-lg-0">
                {% block product_gallery %}
                    {% if settings.product_media_fit == 'fit' %}
                        {% include "partials/product_carousel_fit.html" %}
                    {% else %}
                        {% include "partials/product_carousel.html" %}
                    {% endif %}
                {% endblock %}
            </div>
            <div class="col px-lg-5 overflow-hidden">
              
                <h1 class="fs-3">
                    {{ product.get_title }}
                    {% if user.is_staff %}
                        <span class="fs-7">
                            <a href="{% url 'dashboard:catalogue-product' pk=product.id %}"><small> {% t "store.catalogue.edit_this_product" %}</small></a>
                        </span>
                    {% endif %}
                </h1>

                {% if settings.product_reviews and product.rating %}
               
                    <div class="my-3">          
                        {% for i in '12345' %}
                            {% if forloop.counter <= product.rating %}
                                <span class="text-warning">
                                    &#9733;
                                </span>
                            {% else %}
                                <span class="text-muted">
                                    &#9733;
                                </span>
                            {% endif %}
                        {% endfor %}
                        <span>&nbsp;&nbsp;({{product.num_approved_reviews}})</span>
                    </div>

                {% endif %}


                    
                {% block product_stock_record %}
                <div class="mb-3">
                    {% purchase_info_for_product request product as session %}
                    {% if session.price.exists %}
                        {% if session.price.price_retail > session.price.price %}
                            <del data-product-price-retail class="text-muted">{{ session.price.price_retail|currency:session.price.currency }}</del>
                        {% endif %}
                        <span data-product-price class="fs-5">{{ session.price.price|currency:session.price.currency }}</span>
                    {% else %}
                    &nbsp;
                    {% endif %}
                </div>
                {% endblock %}

                {% for field in variant_form %}
                    {% if 'attr' in field.id_for_label %}
                        <div class="row mb-3">
                            {% if settings.variant_picker == 'radio' %}
                                {% include "partials/form_field.html" with field=field nolabel=True widget_type='custom_radioselect' %}
                            {% else %}
                                {% include "partials/form_field.html" with field=field breakpoint_col='col-md-5'  %}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
                    
             

                {% block buy_options %}
                {% purchase_info_for_product request product as session %}
                {% if product.get_interval and interval_count_choices and session.availability.is_available_to_buy %}
                    <div class="form-label">{% t "store.catalogue.buy_option" %}</div>
                    <div class="catalogue_product-option mb-3">

                        <div class="form-check">
                          <input class="form-check-input" type="radio" id="product-one-time" name="subscription-option" value="one-time" checked>
                          <label class="form-check-label w-100" for="product-one-time">
                            {% t "store.catalogue.one_time" %}
                          </label>
                        </div>

                        <div class="form-check">
                          <input class="form-check-input" type="radio" id="product-subscribe" name="subscription-option" value="subscribe">
                          <label class="form-check-label w-100 " for="product-subscribe">
                            {% t "store.catalogue.subscribe_save" %} 

                            <div id="product-subscribe-options" style="display: none;" class="my-3">
                                <div class="form-label">{% t "store.catalogue.order_arrival_frequency" %}</div>
                                <div class="d-flex align-items-center gap-2"  id="product-subscribe-options-select">
                                    {% for interval_count_choice_value, interval_count_choice_text in interval_count_choices %}
                                
                                        <input id="{{ interval_count_choice_value }}_{{ product.get_interval }}" class="btn-check" type="radio" autocomplete="off" name="options" value="{{ interval_count_choice_value }}" interval="{{ product.get_interval }}">

                                        <label class="btn btn-sm btn-outline-primary" for="{{ interval_count_choice_value }}_{{ product.get_interval }}">
                                            {{ interval_count_choice_text }}
                                        </label>
                            
                                    {% endfor %}
                                </div>
                            </div>

                          </label>
                        </div>
                    </div>
                {% endif %}
                <hr class="my-5">
                {% endblock %}

                {% block product_cart_form %}
                    <div class="catalogue_product-action">
                        {% purchase_info_for_product request product as session %}
                        {% if session.availability.is_available_to_buy %}
                        {% cart_form request product 'single' as cart_form %}
                        <form id="add-to-cart" class="row g-3" action="{% url 'cart:add' pk=product.pk %}" method="post">
                            {% csrf_token %}
                            {% include "partials/form_fields.html" with form=cart_form breakpoint_col='col-3 col-md-2' size='lg' nolabel=True %}
                            <div class="col-9 col-md-10">
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary btn-lg omnisend-add-to-cart-button" data-loading-text='{% t "store.catalogue.add_to_cart_loading" %}' data-disabled-text='{% t "store.catalogue.product_unavailable" %}'>{% t "store.catalogue.add_to_cart" %}</button>
                                </div>
                            </div>
                        </form>
                        {% else %}
                        <div class="fs-6">{% t "store.catalogue.out_of_stock" %}</div>
                        {% endif %}
                    </div>
                {% endblock %}

                {% if settings.product_description_placement == 'column' and product.get_description %}
                <div class="pt-5">
                     {{ product.get_description|safe }}
                </div>
                {% endif %}
            
            </div>
        </div>
    </div>
</section>
{% if settings.product_description_placement == 'stacked' and product.get_description %}
<section class="border-top pt-5">
    <div class="container-xl">
            

        <div class="row justify-content-center p-3 content-body">
            <div class="col">
                <div class="py-5">
                  
                    
                        {{ product.get_description|safe }}
                    
                 
                </div>
                
            </div>
        </div>
    </div>
</section>
{% endif %}
{% if product.sorted_recommended_products %}
    {% include "partials/recommended_products.html" %}
{% endif %}

{% if settings.product_reviews %}
<section id="reviews" class="border-top">
     <div class="container-xl">
                
        <div class="row justify-content-center p-3">
            <div class="col">
                <div class="py-5">
                    {% if product.num_approved_reviews == 0 %}
                        <p>
                            {% if product|is_review_permitted:user %}
                                {% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id as add_review_url %}
                                {% t "store.catalogue.no_reviews" %} <a href="{{ add_review_url }}#addreview">{% t "store.catalogue.no_reviews_add" %}</a>.
                            {% else %}
                                {% t "store.catalogue.no_reviews" %}.
                            {% endif %}
                        </p>
                    {% else %}
                    <div class="d-flex flex-column flex-md-row align-items-center mb-3">
                        <h4 class="me-3">{% t "store.catalogue.customer_reviews" %}</h4>
                        <div class="d-flex">
                            <div class="me-3">
                                {% for i in '12345' %}
                                    {% if forloop.counter <= product.rating %} <span class="text-warning">&#9733;</span>
                                {% else %}
                                    <span>&#9733;</span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="catalogue_item-rating-count">
                                ({{product.num_approved_reviews}} {% t "store.catalogue.customer_reviews" %})
                            </div>
                        </div>
                    </div>
                    {% for review in product.reviews.approved.all|slice:":3" %}
                        <div class="card mb-5">
                            <div class="card-header d-flex flex-column flex-sm-row  align-items-sm-center">
                                <h5 class="card-title mb-0 me-3">
                                    {{ review.title }}
                                </h5>
                                <div class="catalogue_item-rating mb-0">
                                    <div class="catalogue_item-rating-stars">
                                        {% for i in '12345' %}
                                        {% if forloop.counter <= review.score %} <span class="text-warning">&#9733;</span>
                                            {% else %}
                                            <span>&#9733;</span>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ review.body|striptags }}</p>
                            </div>
                            <div class="card-footer  text-muted">
                                {% if review.user == user %}
                                    {% t "store.review.reviewed_by_you" with review_date=review.date_created %}
                                {% else %}
                                    {% t "store.review.reviewed_by_other" with name=review.reviewer_name review_date=review.date_created %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                        <div class="d-grid gap-2 d-md-block mt-4">
                            {% if product.num_approved_reviews > 3 %}
                                <a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}" class="btn btn-primary btn-sm">{% t "store.catalogue.see_all_reviews" %}</a>
                            {% endif %}

                            {% if product|is_review_permitted:user %}
                                <a id="write_review" href="{% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id %}#addreview" class="btn btn-secondary btn-sm">
                                    {% t "store.catalogue.write_a_review" %}
                                </a>
                            {% endif %}
                        </div>

                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}



{% endblock content %}

{% block extrascripts %}
{{ block.super }}
<script type="text/javascript" src="{{ 'js/slick.min.js'|asset_url }}"></script>
<script type="text/javascript" src="{{ 'js/slick_lightbox.min.js'|asset_url }}"></script>

{{ product.data|json_script:"product-data" }}

<script>
(function() {
    theme.product.init({
        add_to_cart_msg: '{% t "store.catalogue.add_to_cart" %}',
        unavailable_msg: '{% t "store.catalogue.product_unavailable" %}'
    });
})();
</script>

{% app_hook 'view_product' %}
{% app_hook 'add_to_cart' %}

{% endblock %}